#gesture-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  /* Max z-index */
  pointer-events: auto;
  /* Capture events to prevent selecting text while gesturing */
  display: none;
}